
# temp folders
/build
/buildSrc/build
**/build/
**/*.egg-info
**/*.pyc

# netbeans things
/nbproject
build.xml
nbbuild.xml

# eclipse things
/bin
.classpath
.project
.settings

# IDEA things
.idea
*.iml

# Gradle things
.gradle
/gradle.properties

# hugo things
/doc/themes
/doc/.hugo_build.lock

# test data (captured from Java)
**/test-data/
**/tests/data/
*.bin
